@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply bg-[#0f0f0f] text-white;
    overflow-x: hidden;
  }
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .group:hover .group-hover\:rotate-y-180 {
    transform: rotateY(180deg);
  }
}
